.hoverpointer:hover{
    cursor: pointer;
}
.margintoprigth, .dropdown-menu-right{
    margin-right: 3%!important;
    margin-top: 1%!important;
}
.mloader{
    width: 111px; height: 111px;
}
#loaderDiv{
    position: absolute; top: 44%; left: 47%; z-index: 111;
}
.a_color_blue{
    color: blue;
}
.a_color_blue:hover{
    cursor: pointer;
}
.h_class:hover{
    cursor: pointer;
}
.t_d_none, .t_d_none:hover{
    text-decoration: none;
}
.mat_top{
    margin-top: 111px;
}
.blockTruck{
    margin-bottom: 3px; border-radius: 3px; padding: 3px;
    position: relative;
}
.blockTruck:hover{
    cursor: pointer;
}
.smallDescrip{
    font-size: 13px;
}
.positonRigth11{
    position: absolute;
    top: 11px;
    right: 11px;
}
.positonRigth33{
    position: absolute;
    top: 11px;
    right: 33px;
}
#divListOrders, #listOrders{
    color:black;
}
.itemPedido{
    background-color: rgb(215, 249, 242);
    margin-bottom: 5px;
    border-radius: 7px;
    padding: 5px;
}
.itemPedido:hover{
    cursor: pointer;
}
